<!--
<div class="wrapper-grey padded">
  <div class="container">
    <h3 class="text-center"> Welcome <%= current_user.name %>!</h3>
    <br>
    <p class="text-center"> <strong>Your Bio:</strong></p>
    <p class="text-center"><%= current_user.description %></p>
  </div>
</div> -->

<div class="wrapper-grey padded">
  <div class="container">
    <h3 class="text-center">Your Incoming Bookings ðŸš€</h3>
    <% if current_user.spaceships.present? %>
    <% current_user.spaceships.each do |spaceship| %>
    <% spaceship.bookings.each do |booking| %>
    <% if booking.present? %>
    <div class="product">
      <div class='product-body'>
        <h3><%= link_to booking.spaceship.name, spaceship_path(booking.spaceship) %></h3>
        <p><%= booking.user.name %> wants to book <%= booking.start_date%> - <%= booking.end_date %></p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <% if booking.status == "Accepted" %>
        <p class="status accepted">Accepted</p>
        <% elsif booking.status == "Declined" %>
        <p class="status declined">Declined</p>
        <% else %>
        <%= simple_form_for ([spaceship, booking]) do |f| %>
        <%= f.select :status, ['Accepted', 'Declined']%>
        <br>
        <br>
        <%= f.button :submit, :class => 'btn btn-primary' %>
        <% end %>
        <% end %>
      </ul>
    </div>
    <% end %>
    <% end %>
    <% end %>
    <% else %>
    <p>You have no spaceships</p>
    <% end %>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h3 class="text-center">Your Outgoing Bookings ðŸš€</h3>
    <% Booking.all.each do |booking| %>
    <% if booking.user == current_user %>
    <div class="product">
      <div class='product-body'>
        <h3><%= link_to booking.spaceship.name, spaceship_path(booking.spaceship) %></h3>
        <% if booking.end_date < Date.today %>
        <p>
          <%= link_to "Review this past booking â¤ï¸", new_booking_review_path(booking) %>
        </p>
        <% else %>
        <p><%= booking.start_date%> - <%= booking.end_date %></p>
        <% end %>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <% if booking.status == "Accepted" %>
        <p class="status accepted">Accepted</p>
        <% elsif booking.status == "Declined" %>
        <p class="status declined">Declined</p>
        <% elsif booking.status.nil? %>
        <p class="status pending">Pending</p>
        <% end %>
      </ul>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h3 class="text-center">Your Spaceships ðŸš€</h3>
    <div class="row">
      <% current_user.spaceships.each do |spaceship| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to spaceship_path(spaceship) do %>
        <% if spaceship.picture.present? %>
        <div class="card" style="background-image: url('<%= cl_image_path spaceship.picture, height: 300, width: 400, crop: :fill %>')">
          <% else %>
          <div class="card" style="background-image: url('https://media.tenor.com/images/baa51bc6187cb2fc286a3d3582061f12/tenor.png')">
            <% end %>
            <div class="card-description">
              <%= spaceship.name %>
            </div>
            <div class="card-price">
             $ <%= spaceship.price %>
           </div>
         </div>
       </div>
       <% end %>
       <% end %>
     </div>
     <p class="text-center"><%= link_to 'Add a New Spaceship', new_spaceship_path %></p>
     <p class="text-center"><%= link_to 'Back to Explore Spaceships', spaceships_path %></p>
   </div>
 </div>
</div>
