
<h2>You get what you want when you poppin' ðŸ›°</h2>
<br>

<h3> Welcome <%= current_user.name %>!</h3>
<br>

<img src=<%= cl_image_path current_user.avatar %> class="avatar">

<p> <strong>Bio:</strong></p>
<p><%= current_user.description %></p>

<br>

<h4>Your Spaceships ðŸš€ & Incoming Bookings:</h4>
<ul>
  <% if current_user.spaceships.present? %>
  <% current_user.spaceships.each do |spaceship| %>
  <li>
    <p><strong>Spaceship:</strong>
      <%= link_to spaceship.name, spaceship_path(spaceship) %>
    </p>
    <% spaceship.bookings.each do |booking| %>
    <% if booking.present? %>
    <p><strong>Booking Id:</strong> <%= booking.id %></p>
    <p> <strong>Start Date:</strong> <%= booking.start_date %></p>
    <p> <strong>End Date:</strong><%= booking.end_date %></p>
    <% if booking.status == "Accepted" %>
    <p>Accepted</p>
    <% elsif booking.status == "Declined" %>
    <p>Declined</p>
    <% else %>
    <%= simple_form_for ([spaceship, booking]) do |f| %>
    <%= f.select :status, ['Accepted', 'Declined']%>
    <%= f.button :submit, :class => 'btn btn-primary' %>
        <% end %>
    <% end %>
    <!-- <p><strong>Total Price:</strong> <%= booking.total_price %></p> -->
    <% end %>
    <% end %>
  </li>
  <% end %>

  <% else %>
  <p>You have no spaceships</p>
  <% end %>
</ul>

<br>

<h4>Your Outgoing Requests:</h4>

<ul>
  <% Booking.all.each do |booking| %>
  <li>
    <% if booking.user == current_user %>
    <p><strong>Spaceship:</strong>
      <%= link_to booking.spaceship.name, spaceship_path(booking.spaceship) %></p>
      <p><strong>Status:</strong>
        <% if booking.status.nil? %>
        Pending
        <% else %>
        <%= booking.status %>
        <% end %>
      </p>
      <% if booking.end_date < Date.today %>
      <p>
        <%= link_to "Review this past booking â¤ï¸", new_booking_review_path(booking) %>
      </p>
      <% end %>
      <% end %>
    </li>
    <% end %>
  </ul>

  <p><%= link_to 'Back to Explore Spaceships', spaceships_path %></p>
