<h1>Spaceships#new</h1>

<!-- app/views/articles/_form.html.erb -->
<%= simple_form_for(@spaceship) do |f| %>
  <!-- [...] -->
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :capacity %>
  <%= f.input :picture %>
  <%= f.input :picture_cache, as: :hidden %>
  <%= f.button :submit, :class => 'btn btn-primary' %>
  <!-- [...] -->
<% end %>
