<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">

      <div class="fullpage">
        <h1 class='text-center'>Create a New Spaceship!</h1>
        <!-- app/views/articles/_form.html.erb -->
        <%= simple_form_for(@spaceship) do |f| %>
        <!-- [...] -->
        <%= f.input :name, input_html: {class: "form-control"} %>
        <%= f.input :location , input_html: {class: "form-control"} %>
        <%= f.input :price , input_html: {class: "form-control"} %>
        <%= f.input :capacity , input_html: {class: "form-control"} %>
        <%= f.input :picture , input_html: {class: "form-control"} %>
        <%= f.input :picture_cache, as: :hidden %>
        <%= f.button :submit, :class => 'btn btn-primary' %>
        <!-- [...] -->
        <% end %>
      </div>
    </div>
  </div>
</div>
